<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.adobe.flexbuilder.debug.launchConfigurationType.flash">
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_APPLICATION" value="src/main/flex/com/montydigital/CopsAndRobbers/Box2dTest.as"/>
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_PROJECT" value="CopsAndRobbersFlash"/>
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_RUN_URL" value="file:/H:/My%20Graphic%20Projects/projectCopsAndRobbers/CopsAndRobbersFlash/bin-debug/CopsAndRobbersMain.html"/>
<booleanAttribute key="com.adobe.flexbuilder.debug.ATTR_USE_DEFAULT_URLS" value="true"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/CopsAndRobbersFlash"/>
<listEntry value="/CopsAndRobbersFlash/src/main/flex/com/montydigital/CopsAndRobbers/Box2dTest.as"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
<listEntry value="1"/>
</listAttribute>
</launchConfiguration>
